version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Europe/Berlin"
    ignore:
      - dependency-name: "chai"
      - dependency-name: "eslint"
      - dependency-name: "@eslint/js"
      - dependency-name: "eslint-plugin-unused-imports"
      - dependency-name: "node-fetch"
        versions:
        - ">=3.0.0"
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"
    commit-message:
      # Make Dependabot use the prefix "fix" when updating production dependencies. This makes
      # semantic-release/commit-analyzer create a new release when production dependencies have been updated on main.
      prefix: "fix"
      prefix-development: "chore"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Europe/Berlin"

